@import url(https://fonts.googleapis.com/css?family=Lato);

//Variables and helper functions
$primary-bg: #333;
$primary-txt:invert($primary-bg);

//Mobile Menu Colors
@import url(https://fonts.googleapis.com/css/family=Lato);

$color1: #f75b5b;
$color2: #c84051;
$color3: #4f3462;
$color4: #794d9a;

//Breakpoints map
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

//Breakdpoints-down
$breakpoints-dn: (
    xs: 575.98px,
    sm: 767.98px,
    md: 991.98px,
    lg: 1199.98px,
);
// Mixin to manage responsive breakpoints use this Map
@mixin media-breakpoint-up($breakpoint){
    //if key exists in the map
    @if map-has-key($breakpoints, $breakpoint){
        //Prints a media query based ont he balue
        @media (min-width:map-get($breakpoints, $breakpoint)) {
            @content;
    }
}

// If key doesn't exist in the map
@else {
    @warn "The value does not exits in `#{$breakpoint}`."
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}

// Mixin to manage responsive breakpoints use this Map
@mixin media-breakpoint-down($breakpoint-dn){
    //if key exists in the map
    @if map-has-key($breakpoints-dn, $breakpoint-dn){
        //Prints a media query based ont he balue
        @media (max-width:map-get($breakpoints-dn, $breakpoint-dn)) {
            @content;
    }
}

// If key doesn't exist in the map
@else {
    @warn "The value does not exits in `#{$breakpoint-dn}`."
        + "Available breakpoints are: #{map-keys($breakpoints-dn)}.";
    }
}

//Mixins
@mixin alpha-background-color($color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    $background-color: $solid-color;
    $background-color: $color;
}

@mixin alpha-attribute($attribute, $color, $background){
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
}


// Index page
body{
    background-color: #f7eeaa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='50%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f7eeaa'/%3E%3Cstop offset='1' stop-color='%23e0eeff'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f7eeaa'/%3E%3Cstop offset='1' stop-color='%23e2c7ff'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.66'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    
}
.container{
    @include media-breakpoint-up(lg){
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0px;
        margin-left: 0px;
    }
}

.logo-wrapper{
    @include media-breakpoint-up(lg){
        max-width: 100%; 
        flex-basis: 100%; 
        width: 100%;
        padding-bottom: none;
        margin-bottom: none;
    }
    @include media-breakpoint-up(md){
        max-width: 68%;
        flex-basis: 68%;
        width: 68%;
    }
    @include media-breakpoint-up(sm){
        max-width: 88%;
        flex-basis: 88%;
        width: 68%;
    }
    @include media-breakpoint-up(xs){
        max-width: 90%;
        flex-basis: 90%;
        width: 90%;
        .Logo{width: 100%;}
        
    }
    // .Logo{
    //     @include media-breakpoint-up(lg){transform: scale(.75); max-width:90%; padding: 0 0 0 0; margin: 0 0 0 0;}
    //     @include media-breakpoint-up(sm){max-width:88%; padding-bottom:none; margin-bottom: none;}
    // }
    .Logo:hover{
        transform: scale(.85);
        transition: ease 40ms;
    }
}

.menu{
    @include media-breakpoint-up(sm){max-width:100%; padding-bottom:none; margin-bottom: none;}
    overflow: hidden;
    a {
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        flex-wrap: nowrap;
    }
    a:hover{
        background-color: #ddd;
        color: black;
    }
    a.active {
        background-color: cornflowerblue;
        color: white;
    }
    .icon{
        display: none;
        i{font-size: 36pt;
        margin-top: 30px;}
    }
    @include media-breakpoint-up(sm){
        flex-basis: 100%;
        width: 100%;
    }

    //When screen is less than 768 hide all links except Logo
    @include media-breakpoint-down(md){
        a:not(:first-child){display:none;}
        a.icon{
            float:right;
            display:block;
        }
        .responsive{position: relative;}
        .responive a.icon{
            position: absolute;
            right: 0;
            top: 0;
        }
        .responsive a{
            float: none;
            display: block;
            text-align: left;
        }
}
    
}